.page-preloader{
  background-color: #95cfbaeb;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

svg {
  width: 30%;
  margin: 0 auto;
  display: block;
}

#steam {
  opacity: .5;
}
@media only screen and (max-width: 767px){
svg {
  width: 40%;
}
}