body {
  background-color: #C2B59B;
}

svg {
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-top: -350px;
}

#steam {
  opacity: .5;
}

h1 {
  text-align: center;
  margin-top: -350px;
  font-size: 60px;
  font-family: "Bree Serif", serif;
  color: #543A1C;
  text-transform: uppercase;
}